@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    
}

body {
    margin: 0;
   
  
}
/* Menu */
ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: all .5s;
}

nav {
    background-color: #161616;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

h1,
.menu {
    color: #FFF;
}



ul li .menu {
    
    text-decoration: none;
}

.menu:hover{
    color: #fff;
}

.item_number{
    background: yellow;
    padding: 0 10px;
    height: 25px;
    color: #000;
}

.Perfil1{
    display: none;
}

nav,
ul {
    display: flex;
    flex-direction: row;
}


li {
    padding: 0 20px;
    display: flex;
}

h1 {
    margin: 0;
    padding: 10px;
    font-family: 'Righteous', cursive;
}

.hide {
    background-color: transparent;
    border: none;
    position: absolute;
    color: #FFF;
    font-size: 36px;
    right: 10px;
    top: 10px;
    display: none ;
}

li:hover,
.hide:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.2);
}

.hide:focus~ul {
    height: 260px;
}

/* Banner Slide */
img {
   max-width: 100%;
    padding: 0px;
} 

.img-fluid {
    width: 100%;
    padding: 0px 0;
}

.lançamento {
    display: flex;
    color: #fff;
    padding: 8px;
    justify-content: center;
    text-align: center;
}

.lançamento h1 {
    background: rgb(145, 96, 96);
    width: 170px;
    text-align: center;
    border: 1px solid #656565;
    color: #fff;
    text-transform: uppercase;
    font-size: 20pt;
    font-family: 'Roboto', sans-serif;
    
}

.lançamento h1:hover{
    background: #111;
}

.Promoções{
    display: flex;
    justify-content: center;
    padding: 8px;
   
   
   
}

.Promoções h2 {
    background: rgb(145, 96, 96);
    width: 180px;
    border: 1px solid #161616;
    text-align: center;
    justify-content: center;
    color:#fff;
    text-transform: uppercase;
    font-size: 20pt;
    font-family: 'Roboto', sans-serif;
}

.Promoções h2:hover{
    background: #111;
}

.catalogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
   
}

/*.catalogo > div {
    flex: 1 1 250px;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid #ccc;
}*/

.catalogo p {
    color:#111;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    padding: 6px;
    margin-left: 8%;
}


.catalogo .imaagem {
    margin-top: 5px;
    margin-left: 40px;
}

.catalogo .imagem2 {
    margin-top: 5px;
}
.ajuste p{
    text-align: center;
    margin-left: -40px;
}

.move p{
    text-align: center;
    margin-left: -25px;
}
a {
    list-style: none;
    text-decoration: none;
    
}


.valor {
    margin-left: 30%;
    margin-top: 5%;
    color: #111;
}

.valor:hover {
    background-color: #ccc;
}

.click {
    margin: 2%;
}

.btn-outline-primary {
    
    float: left;
    margin-top: 2%;
    background:rgb(24,139, 233) ;
    font-weight: bolder;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
   
}

.btn-outline-primary:hover {
    color: rgb(24, 139, 233 ) ;
    background: #ccc;
}



/* Estilização do meu footer (rodapé) */
footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #111;
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.box .content{
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:before{
    position: absolute;
    top: -10px;
    content: '';
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}

.box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
}

.left .content p{
    text-align: justify;
    color: #fff;
}

.left .content .social{
    margin: 20px 0 0 0;
}

.left .content .social a{
    padding: 0 2px;
}

.left .content .social a img{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
    
}

.left .content .social a img:hover {
    background: #f12020;
}

.center .content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;    
    height: 30px;
    width: 30px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover{
    background: #f12020;
}

.center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone{
    margin: 10px 0;
}

.right form .text .email{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
}

.right form .msg{
    margin-top: 10px;
}

.rigth form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
    
}
.right form input:focus,
.right form textarea:focus{
    outline: #3498db ;
}

.right form input{
    height: 35px;
    background: #151515;
    width: 100%;
}

.send{
    width: 100%;
}

.right form .send .bt{
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.rigth form .send .bt:hover{
    background: #000;
}

.send:hover{
    background: #000;
}

.bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
}

.bottom center span {
    color: #656565;
}

.bottom center a{
    color: #f12020;
    text-decoration: none;
}

.bottom center a:hover{
    text-decoration: underline;
}

/* Responsividade do meu footer*/
@media  screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box{
        margin: 5px 0;
    }
    
}

/* Responsividade do meu site */
@media (max-width: 700px) {

    nav,
    .pagination
    ul {
        flex-direction: column;
    }

    ul {
        text-align: center;
        margin: 0;
        height: 0;
    }

    nav {
        padding: 0;
        align-items: flex-start;
    }

    h1 {
        margin: 10px;
    }

    .hide {
        display: flex;
    }

    

    li,
    ul {
        width: 100%;
        flex-wrap: wrap;
        
    }

    .catalogo {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
    }

    

    .Promoções h2 {
        display: flex;
        text-align: center;
        margin-left: 40px;
    }

    .ajuste{
        margin-left: 10%;

    }

    .ajuste .botôes{
        margin-left: 10%;
    }

    .ajuste2{
        margin-left: 5%;
        margin-top: 5px;
    }
}

/* paginação do meu site*/
.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
    padding: 10px;
}

.pagination a {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    color: #111;
}

.pagination a.active {
    background-color: rgb(24, 139,233);
    border: 1px solid rgb(24, 139,233);
    color: #111;
}

.pagination a:hover:not(.active) {
    background-color: rgb(24, 139, 233 );
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}





/* tela de Cadastramento */
.Entrar{
    background-image: url(../img/—Pngtree—explosion\ game\ poster\ background_1048673.jpg);
}
.tela-login {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
}

.tela-login input{
    color: #1a1a1a;
    padding: 15px;
    border: none;
    font-size: 16px;
}

.tela-login button {
    color: #fff;
    background-color: dodgerblue;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
}
.enviar {
    color: #fff;
}

.tela-login button:hover{
    background-color: deepskyblue;
    cursor: pointer;
}

.cart {
    width: 26.8px;
    align-items: center;
}

.user {
    width: 30px;
    font-size: 30dp;
    align-items: center;
    
}

.gamer{
    width: 35px;
    align-items: center;
}


/* pagina de jogos */
section .valor2{
    margin-left: -10%;
}
section p {
    color: #111;
}
.novidade{
    display: flex;
    text-align: center;
    color: #111;
}

.novidade h1 {
    color: #111;
}

.novidade h2 {
    margin-top: 25px;
    font-size: 20px;
    color: #111;
}

.novidade:before{
    position: absolute;
    margin-top: 56px;
    content: '';
    height: 5px;
    width: 100%;
    background: #ddd;
}

.novidade:after{
    position: absolute;
    content: '';
    height: 4px;
    width: 15%;
    background: #f12020;
    margin-top: 54px;
}

.jg{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 2%;
}

.botoes{
    margin: 2%;
    
}

.click2{
    position: relative;
    margin-top: -38px;
    margin-left: 92px;
}

.novidade2:before{
    position: absolute;
    margin-top: 56px;
    content: '';
    height: 2px;
    width: 100%;
    background: #fff;
}

.section2{
    margin-top: 8%;
}

.section2 .btn{
    margin-top: 5px;
}

.divisao button{
    margin-top: 12%;
   
}

.valor2 {
    color: #111;
}

.Venda{
    display: flex;
    text-align: center;
    color: #111;
}

.Venda h1 {
    color: #111;
}

.Venda h2{
    margin-top: 25px;
    font-size: 20px;
    color: #111;
}

.Venda:before{
    position: absolute;
    margin-top: 56px;
    content: '';
    height: 5px;
    width: 100%;
    background: #ddd;
}

.Venda:after{
    position: absolute;
    content: '';
    height: 4px;
    width: 15%;
    background: #f12020;
    margin-top: 54px;
}

.Venda h1 h2{
    font-family: 'Roboto', sans-serif;
}

.novidade3:before{
    position: absolute;
    margin-top: 56px;
    content: '';
    height: 2px;
    width: 100%;
    background: #fff;
}

.section4{
    margin-top: 8%;
}

.Promo{
    display: flex;
    text-align: center;
    color: #111;
}
.Promo h1 {
    color: #111;
}
.Promo h2{
    margin-top: 25px;
    font-size: 20px;
    color: #111;
}

.Promo:before{
    position: absolute;
    margin-top: 56px;
    content: '';
    height: 5px;
    width: 100%;
    background: #ddd;
}

.Promo:after{
    position: absolute;
    content: '';
    height: 4px;
    width: 15%;
    background: #f12020;
    margin-top: 54px;
}

.novidade4{
    position: absolute;
    margin-top: 56px;
    content: '';
    height: 2px;
    width: 100%;
    background: #fff;
}

.section5{
    margin-top: 8%;
}

/* Sessão de jogos */
@media  screen and (max-width: 800px) {
    section{
       flex-direction: column;
    }

    section img{
        margin-top: 16px;
    }
    .section2{
        margin-top: 90px;
    }

    .section4 {
        margin-top: 90px;
    }
   
    .section5{
        margin-top: 90px;
    }
}


/* Responsividade dos jogos e da pagina Principal/secundaria*/
@media  screen and (max-width: 670px){
    /*pagina principal e secundaria*/
    
    .lançamento h1{
        margin-left: 30% ;

    }

    .Promoções h2{
        margin-left: 28% ;
    }


    /* sessão de jogos */
   .jg {
       max-width: 100%;
       flex-direction: column;
       margin-top: 20%;
   }

   .section6 img{
       margin-top: 16px;
   }

   .section2 img{
       margin-top: 16px;
   }

   .ajuste6{
    flex-wrap: wrap;
    margin-right: -90px;
    margin-top: 2px;
    margin-left: 8px;
   }

   

   .section3 img{
       margin-top: 16px;
   }

   .section4 img{
       margin-top: 16px;
   }

   .ajuste2{
    flex-wrap: wrap;
    margin-right: -90px;
    margin-top: 5px;
    margin-left: 8px;
   }

   .section4 .valor2{
    margin-left: -15px;
}


    .section5{
        justify-content: space-between;
    }

    .ajuste3 img{
        margin-left: 5%;
        margin-top: 10px;
    }
    .ajuste4 .btn{
        margin-left: 8% ;
        flex-wrap: wrap;
        margin-right: -90px;
        margin-top: 5px;
        margin-left: 20px;
    }
    .ajuste1{
        margin-left: 90px;
    }

    .section1 img{
        margin-top: 10px;
    }
    .section1 img a p {
        margin-left: 5%;

    }

    .cl img{
        margin-top: 10px;
    }

    .section1 .valor2{
        margin-left: -15px;
    }

    .ajuste5 .btn{
       
        flex-wrap: wrap;
        margin-right: -90px;
        margin-top: 5px;
        margin-left: 2px;
    }

    .venda{
        flex-wrap: wrap;
        flex-direction: column;
    }

} 






